{%
  set classes = [
    'mil-accordion'
  ]
%}

<div{{ attributes.addClass(classes) }}>
  {% block paragraph %}
    {% block content %}
      {{content}}
    {% endblock %}
  {% endblock paragraph %}
</div>