{% set title = paragraph.field_title.value %}
{% set sub_title = paragraph.field_sub_title.value %}
<div class="mil-banner mil-banner-1 mil-bg-soft">
  <div class="container">
    <div class="row">
      <div class="col-xl-6">
        <div class="mil-banner-text-frame">
          <div class="mil-banner-text">
          {% if sub_title %}
            <div class="mil-suptitle mil-mb-30">
              {{sub_title}}
            </div>
          {% endif %}

          {% if title %}
            <h2 class="mil-display-2 mil-mb-60">
              {{title}}
            </h2>
          {% endif %}
          </div>
        </div>
      </div>

      <div class="col-xl-6">
        <div class="mil-banner-image-frame">
          {{drupal_image(paragraph.field_banner_image.entity.field_media_image.entity.id, '' ) }}
        </div>
      </div>
    </div>
  </div>
</div>
