{% for row in rows %}
  {% set title    =  view.style_plugin.getField(loop.index0, 'title') %}
  {% set image    = view.style_plugin.getField(loop.index0, 'field_image') %}
  {% set position = view.style_plugin.getField(loop.index0, 'field_plain_text') %}
  {% set url      = view.style_plugin.getField(loop.index0, 'view_node') %}

  <div class="col-sm-6 col-lg-3 mil-mb-30">
      <a href="{{url}}" class="mil-team-card mil-long">
          <div class="mil-cover-frame mil-up">
              <div class="mil-hover-frame">
                  <img loading="lazy" src="{{image}}" alt="Team member" data-value-1="1" data-value-2="1.1" class="mil-scale-img">
              </div>
          </div>
          <div class="mil-descr mil-up">
              <h6 class="mil-mb-10">{{title}}</h6>
              <p>{{position}}</p>
          </div>
      </a>
  </div>
{% endfor %}