<footer>
  <div class="container mil-p-200-100">
    <div class="row">
      {{ content }}
    </div>
  </div>
  <div class="container mil-p-0-200">
      <div class="mil-footer-bottom mil-up">
          <p class="mil-text-14 mil-up">© {{ 'now'|date('Y') }} {{ site_name }}</p>
          <p class="mil-text-14 mil-up"><a href="https://gatoblan.co">Gato Blanco</a></p>
      </div>
  </div>
</footer>